.my-4{
    position: absolute;
    margin-left: 76%;
}

.add-employee{
    margin-right: 15%;
    margin-left: 33%;
    margin-top: 6%;
}

.content{
    margin-top: 112px;
    width: 70%;
    margin-left: 340px;
}

.action img{
    width: 15px;
    height: 15px;
    margin-right: 20px;
}
.action img:hover{
    transform: translateY(-5px);
}