<div class="navbar-top">
</div>

<div class="left-sidebar">
    <ul>
        <li routerLinkActive="active"> <a routerLink="../../home">Accueil</a></li>
        <li routerLinkActive="active"> <a routerLink="../../listEmployee">Gerer employee</a></li>
        <li routerLinkActive="active"> <a routerLink="../../absence">Liste d'absence</a></li>
        <li routerLinkActive="active"> <a routerLink= "../../session">Session</a></li>
    </ul>
</div>

<div *ngIf="empl">
<form class="text-center border border-light p-5 add-employee">

    <p class="h4 mb-4">Modification</p>
  
    <!-- Name -->
    <div>
        <input [(ngModel)]="empl[0].matricules" [ngModelOptions]="{standalone: true}" type="text" id="matricule" class="form-control mb-4" placeholder="Matricule">
        <input [(ngModel)]="empl[0].nom" [ngModelOptions]="{standalone: true}" type="text" id="name" class="form-control mb-4" placeholder="Nom">
        <input [(ngModel)]="empl[0].prenom" [ngModelOptions]="{standalone: true}" type="text" id="surname" class="form-control mb-4" placeholder="Prenom">
        <input [(ngModel)]="empl[0].email" [ngModelOptions]="{standalone: true}" type="email" id="email" class="form-control mb-4" placeholder="Email">
    
    </div>
   
    <button mdbBtn color="warning" (click)="updateEmployee()" type="submit">Modifier</button>
  
  </form>
</div>
<!-- Default form contact -->
