.left-sidebar{
    width: 20%;
    height: 90%;
    background-color: rgb(23, 23, 68);
    position: absolute;
    color: #ffffff;
}

.left-sidebar li{
    list-style: none;
    padding: 10px;
}

.card{
    width: 270px;
    height: 300px;
    display: inline-block;
    margin-right: 10px;
}

