<div class="navbar-top">
</div>

<div class="left-sidebar">
    <ul>
        <li routerLinkActive="active"> <a routerLink="../home">Accueil</a></li>
        <li routerLinkActive="active"> <a routerLink="../listEmployee">Gerer employee</a></li>
        <li routerLinkActive="active"> <a routerLink="../absence">Liste d'absence</a></li>
        <li routerLinkActive="active"> <a routerLink= "../session">Session</a></li>
    </ul>
</div>
<div class="content">
    <div *ngIf="is_show_only">
        <h3>Derniers arrivés</h3>
        <div class="row">
            <div class="text-center border border-light card" *ngFor="let pre of presence">
                <img>
                <p><span> Nom: </span> {{pre.nom}}</p>
                <p><span> Nom: </span> {{pre.prenom}}</p>
                <p><span> Nom: </span> {{pre.matricules}}</p>
                <p>Heure: </p>
            </div>
        </div>
    </div>
    <div *ngIf="is_permitted_all">
        Hello, this will show you after clicking on the button
    </div>
</div>

<button  mdbBtn (click)="tooglePresence()" color="default" class="my-4" type="submit"> {{ buttonName }}</button>